<h2>Student Address Info</h2>
<form [formGroup]="addressInfoForm">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Address Line 1</mat-label>
    <input matInput type="text" formControlName="addr_line" />
    <mat-error *ngIf="addressInfoForm.get('addr_line').hasError('required')">{{
      ERROR_MSGS.required
    }}</mat-error>
    <mat-error *ngIf="addressInfoForm.get('addr_line').hasError('maxLength')">
      {{ ERROR_MSGS.maxLength }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Address Line 2</mat-label>
    <input matInput type="text" formControlName="additional_addr_line" />
    <mat-error
      *ngIf="addressInfoForm.get('additional_addr_line').hasError('required')"
      >{{ ERROR_MSGS.required }}</mat-error
    >
    <mat-error
      *ngIf="addressInfoForm.get('additional_addr_line').hasError('maxLength')"
    >
      {{ ERROR_MSGS.maxLength }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Pincode</mat-label>
    <input matInput type="text" formControlName="pincode" />
    <mat-error *ngIf="addressInfoForm.get('pincode').hasError('required')">{{
      ERROR_MSGS.required
    }}</mat-error>
    <mat-error *ngIf="addressInfoForm.get('pincode').hasError('maxLength')">
      {{ ERROR_MSGS.maxLength }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>City</mat-label>
    <input matInput type="text" formControlName="city" />
    <mat-error *ngIf="addressInfoForm.get('city').hasError('required')">{{
      ERROR_MSGS.required
    }}</mat-error>
    <mat-error *ngIf="addressInfoForm.get('city').hasError('maxLength')">
      {{ ERROR_MSGS.maxLength }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>State</mat-label>
    <input matInput type="text" formControlName="state" />
    <mat-error *ngIf="addressInfoForm.get('state').hasError('required')">{{
      ERROR_MSGS.required
    }}</mat-error>
    <mat-error *ngIf="addressInfoForm.get('state').hasError('maxLength')">
      {{ ERROR_MSGS.maxLength }}
    </mat-error>
  </mat-form-field>
</form>
